@font-face {
	font-family: Museo-Light;
	src: url(/fonts/museo-cyr-300.woff) format('woff');
}

@font-face {
	font-family: Museo-Medium;
	src: url(/fonts/museo-cyr-500.woff) format('woff');
}

@font-face {
	font-family: Museo-Bold;
	src: url(/fonts/museo-cyr-700.woff) format('woff');
}

@font-face {
	font-family: Museo-Black;
	src: url(/fonts/museo-cyr-900.woff) format('woff');
}

* {
	box-sizing: border-box;
	outline: none;
}

body {
	margin: 0;
}

.header {
	padding: 30px 22px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	transform: translateZ(0);
	z-index: 22;
	background-color: #fff;
	border-bottom: 2px solid #000;

	&__logo {
		max-width: 100%;
		width: 274px;
		line-height: 30px;
		background: url(/imgs/header-logo.svg) no-repeat 50% 50%;
		background-size: 100% auto;
		display: inline-block;
		text-decoration: none;
	}

	&__nav {
		position: absolute;
		top: 0;
		right: 22px;
		bottom: 0;
		margin: auto;
		height: 30px;

		&-a {
			text-decoration: none;
			color: #000;
			display: inline-block;
			height: 30px;
			line-height: 30px;
			margin-left: 32px;
			font-size: 14px;
			z-index: 1;
			font-family: Museo-Black;

			&_current {
				color: #f00;
			}

			&_search {
				width: 45px;
				background: url(/imgs/search.png) no-repeat 50% 50%;
				position: relative;
			}

			&:hover {
				color: #f00;
			}
		}
	}

	@media (max-width: 1080px) {
		&__nav-a {
			margin-left: 20px;
		}
	}

	@media (max-width: 1023px) {
		text-align: center;
		border-bottom: 2px solid #000;

		&__nav-a:not(&__nav-a_search) {
			display: none;
		}
	}

	@media (max-width: 400px) {
		&__logo {
			display: block;
			margin: 0 30px;
			width: auto;
		}

		&__nav-a_search {
			right: -10px;
		}
	}
}

.search {
	position: absolute;
	max-width: 522px;
	width: ~"calc(100vw - 44px)";
	top: -7px;
	right: 0;
	font-size: 14px;
	font-family: Museo-Black;

	&__placeholder {
		height: 45px;
		line-height: 45px;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		background-color: #fff;
		padding-left: 22px;
		font-size: inherit;
		font-family: inherit;
		color: #d7d7d7;
		text-align: left;
	}

	&__count {
		position: absolute;
		left: 270px;
		right: 0;
		top: 0;
		height: 45px;
		line-height: 45px;
		color: #000;
		opacity: 0.5;
		font-family: Museo-Light;
		font-size: 10px;
		padding-left: 20px;
		padding-right: 60px;
		text-align: left;
	}
	
	&__input {
		padding: 0 60px 0 20px;
		border: 2px solid #000;
		width: 100%;
		height: 45px;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		border-radius: 0;
		background-color: transparent;
		font-size: inherit;
		font-family: inherit;

		&::-ms-clear {
			display: none;
		}
	}

	&__list {
		position: absolute;
		top: 45px;
		right: 0;
		left: 0;
		display: none;

		&_show {
			display: block;
		}

		&-item {
			height: 45px;
			background-color: #fff;
			border-color: #000;
			border-style: solid;
			border-width: 0 2px 2px 2px;
			padding: 0 20px;
			line-height: 40px;
			width: 100%;
			text-align: left;
			display: flex;

			&:hover {
				background-color: #dfdede;
			}

			&-company {
				display: inline-block;
				width: 270px;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 14px;
				font-family: Museo-Medium;
				flex-shrink: 0;

				& > b {
					font-weight: normal;
					font-family: Museo-Black;
				}
			}

			&-category {
				display: inline-block;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 10px;
				font-family: Museo-Light;
				white-space: nowrap;
			}
		}
	}

	&__clear {
		width: 24px;
		height: 24px;
		background-color: #f00;
		position: absolute;
		top: 10px;
		right: 33px;
		cursor: pointer;
		padding: 0;
		border: none;
		background: url(/imgs/close.svg) no-repeat 50% 50%;
		z-index: 1;
		display: none;

		&_show {
			display: block;
		}
	}

	@media (max-width: 550px) {
		&__list-item-company {
			width: 170px;
		}

		&__count {
			left: 170px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	@media (max-width: 400px) {
		right: -10px;
		width: ~"calc(100vw - 24px)";
	}
}

.map-container {
	margin-top: 90px;
	height: ~"calc(100vh - 92px)";
	background-color: rgba(0, 0, 0, 0.1);
	overflow: hidden;
	position: relative;

	@media (max-width: 1023px) {
		height: auto;
	}
}

.map {
	background: url(/imgs/map-background.png) no-repeat 0 0;
	width: 3412px;
	height: 2528px;
	transform-origin: 0 0;
	overflow: hidden;
	position: relative;
	will-change: transform;
	cursor: move;

	&_smooth {
		transition: transform 0.25s 0s;
	}
}

.car {
	cursor: pointer;
	
	&__circle {
		position: absolute;
		width: 80px;
		height: 80px;
		border: 1px solid #000;
		border-radius: 80px;
		margin-left: -40px;
		margin-top: -40px;
		background-color: #fff;
		z-index: 1;
	}

	&__image {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		position: absolute;
		width: 100px;
		height: 64px;
		margin-top: -32px;
		margin-left: -50px;
		z-index: 2;

		/*&_t {
			background-position: 65% 35%;
		}

		&_r {
			background-position: 60% 65%;
		}

		&_b {
			background-position: 60% 35%;
		}

		&_l {
			background-position: 60% 65%;
		}
		
		&_red {
			&-t {
				background-image: url(/imgs/car-red-ver.png);
			}

			&-r {
				background-image: url(/imgs/car-red-hor.png);
			}

			&-b {
				background-image: url(/imgs/car-red-ver.png);
				transform: rotate(180deg);
			}

			&-l {
				background-image: url(/imgs/car-red-hor.png);
				transform: scale(-1, 1);
			}
		}

		&_yellow {
			&-t {
				background-image: url(/imgs/car-yellow-ver.png);
			}

			&-r {
				background-image: url(/imgs/car-yellow-hor.png);
			}

			&-b {
				background-image: url(/imgs/car-yellow-ver.png);
				transform: rotate(180deg);
			}

			&-l {
				background-image: url(/imgs/car-yellow-hor.png);
				transform: scale(-1, 1);
			}
		}

		&_lightgray {
			&-t {
				background-image: url(/imgs/car-lightgray-ver.png);
			}

			&-r {
				background-image: url(/imgs/car-lightgray-hor.png);
			}

			&-b {
				background-image: url(/imgs/car-lightgray-ver.png);
				transform: rotate(180deg);
			}

			&-l {
				background-image: url(/imgs/car-lightgray-hor.png);
				transform: scale(-1, 1);
			}
		}

		&_blue {
			&-t {
				background-image: url(/imgs/car-blue-ver.png);
			}

			&-r {
				background-image: url(/imgs/car-blue-hor.png);
			}

			&-b {
				background-image: url(/imgs/car-blue-ver.png);
				transform: rotate(180deg);
			}

			&-l {
				background-image: url(/imgs/car-blue-hor.png);
				transform: scale(-1, 1);
			}
		}

		&_lightblue {
			&-t {
				background-image: url(/imgs/car-lightblue-ver.png);
			}

			&-r {
				background-image: url(/imgs/car-lightblue-hor.png);
			}

			&-b {
				background-image: url(/imgs/car-lightblue-ver.png);
				transform: rotate(180deg);
			}

			&-l {
				background-image: url(/imgs/car-lightblue-hor.png);
				transform: scale(-1, 1);
			}
		}

		&_pink {
			&-t {
				background-image: url(/imgs/car-pink-ver.png);
			}

			&-r {
				background-image: url(/imgs/car-pink-hor.png);
			}

			&-b {
				background-image: url(/imgs/car-pink-ver.png);
				transform: rotate(180deg);
			}

			&-l {
				background-image: url(/imgs/car-pink-hor.png);
				transform: scale(-1, 1);
			}
		}*/
	}

	&__caption {
		border: 1px solid #000;
		background-color: #fff;
		padding: 5px;
		transform: translateZ(0);
		position: absolute;
		white-space: nowrap;
		font-size: 10px;
		font-family: Museo-Black;

		&-container {
			position: absolute;
			transition: opacity .5s 0s;
			z-index: 3;
		}

		&-company {
			position: relative;
			display: inline;
			z-index: 1;
		}

		&-percent {
			color: #f00;
			padding-left: .4em;
			display: inline;
			position: relative;
			z-index: 1;
		}

		&-favorite {
			position: absolute;
			width: 23px;
			background: #edd100 url(/imgs/star-red-fav.png) no-repeat 50% 50%;
			background-size: 22px auto;
			top: 0;
			bottom: 0;
		}

		&_tl&_favorite,
		&_bl&_favorite {
			padding-left: 30px;
		}

		&_tr&_favorite,
		&_br&_favorite {
			padding-right: 30px;
		}

		&_tl &-favorite,
		&_bl &-favorite {
			left: 0;
		}

		&_tr &-favorite,
		&_br &-favorite {
			right: 0;
		}

		&:after {
			content: '';
			width: 12px;
			height: 12px;
			background-color: #fff;
			position: absolute;
			border-style: solid;
		}

		&_tl {
			right: 0;
			bottom: 11px;
			
			&::after {
				border-width: 0 1px 1px 1px;
				border-color: transparent #000 #000 transparent;
				transform: skewY(45deg) translateX(1.5px) translateY(-1.4px);
				right: 0;
				bottom: -7px;
			}
		}

		&_tr {
			bottom: 11px;
			left: 0;
			
			&::after {
				border-width: 0 1px 1px 1px;
				border-color: transparent transparent #000 #000;
				transform: skewY(-45deg);
				bottom: -7px;
				left: -1px;
			}
		}

		&_bl {
			top: 11px;
			right: 0;

			&::after {
				top: -7px;
				right: -2px;
				border-width: 1px 1px 0 1px;
				border-color: #000 #000 transparent transparent;
				transform: skewY(-45deg) translateX(-0.5px) translateY(-0.5px);
			}
		}

		&_br {
			top: 11px;
			left: 0;

			&::after {
				top: -7px;
				left: -1px;
				border-width: 1px 1px 0 1px;
				border-color: #000 transparent transparent #000;
				transform: skewY(45deg);
			}
		}
	}
}

.category {
	position: absolute;
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;

	&-mobile {
		&:last-child {
			border-bottom: none;
		}

		&__header {
			padding: 26px 15px 25px 15px;
			color: #000;
			text-transform: uppercase;
			position: relative;

			&-ru {
				font-size: 13px;
				line-height: 1.54;
				font-family: Museo-Bold;
			}

			&-en {
				font-size: 11px;
				line-height: 1.82;
				font-family: Museo-Medium;
				opacity: 0.8;
			}

			&:after {
				content: '';
				position: absolute;
				right: 0;
				bottom: 10px;
				left: 15px;
				height: 2px;
				background-color: #000;
			}
		}
	}
}

.area {
	position: absolute;
	cursor: pointer;
}

.divisions {
	&-desktop {
		margin-top: 90px;
		padding-bottom: 50px;
	}

	&-mobile {
		margin-top: 92px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 50px;
	}
}

.division {
	overflow: hidden;

	&__header {
		margin: 70px 0 30px;
		text-align: center;
		font-weight: normal;
		font-size: 16px;
		font-family: Museo-Black;
		height: 19px;
	}

	&__items {
		display: flex;
		padding: 0 20px;
		max-width: 1290px;
		margin: auto;
	}

	&__item {
		flex-basis: 20%;
		padding: 0 20px;

		&-header {
			font-size: 16px;
			margin: 0;
			min-height: 62px;
			font-weight: normal;

			&-ru {
				display: block;
				font-size: 14px;
				font-family: Museo-Bold;
			}

			&-en {
				display: block;
				font-size: 12px;
				font-family: Museo-Light;
			}
		}

		&-list {
			border-top: 2px solid #000;
			padding-top: 7px;
		}

		&-link {
			text-decoration: none;
			color: #000;
			display: block;
			font-family: Museo-Light;
			font-size: 12px;

			&_fav:after {
				content: '';
				display: inline-block;
				vertical-align: top;
				width: 15px;
				height: 15px;
				background: url(/imgs/star-gold.svg) no-repeat 50% 50%;
				background-size: 30px 30px;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&-mobile {
		margin-top: 60px;

		&__cover {
			margin: 20px 20px 0;
			border: 2px solid #000;
		}

		&__cover > img {
			vertical-align: top;
			width: 100%;
			height: auto;
		}

		&__name {
			color: #fff;
			text-align: center;
			font-family: Museo-Black;
			font-size: 20px;
			line-height: 24px;
			text-transform: uppercase;
			padding: 13px;
			border-top: 2px solid #000;
		}

		&_current {
			width: 100%;
		}

		&__back {
			border: none;
			width: 100%;
			font-size: 14px;
			font-family: Museo-Black;
			text-transform: uppercase;
			text-align: left;
			padding: 21px 80px 21px 15px;
			color: #fff;
			background-repeat: no-repeat;
			background-position: right 20px bottom 50%;
			position: fixed;
			top: 92px;
			right: 0;
			left: 0;
			transform: translateZ(0);
			z-index: 1;

			& > span {
				position: relative;

				&:before {
					content: '';
					display: inline-block;
					width: 6px;
					height: 6px;
					border-color: #fff;
					border-style: solid;
					border-width: 2px 2px 0 0;
					transform: rotate(-135deg);
					margin-right: 5px
				}
			}
		}
	}
}

.popup {
	background-color: #fff;
	position: relative;
	z-index: 1;
	padding: 25px 55px 25px 30px;
	flex-basis: 463px;
	border: 2px solid #000;

	&__container {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		justify-content: center;
		align-items: center;
		transform: translateZ(0);
		z-index: 21;
	}

	&__inner {
		display: flex;
	}

	&__left {
		min-width: 42px;
		background-repeat: no-repeat;
		background-position: 0 5px;
		background-size: contain;
		margin-right: 28px;
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}

	&__close-button {
		border: none;
		padding: 0;
		background-color: transparent;
		position: absolute;
		color: #fff;
		top: -40px;
		right: -40px;
		font-size: 30px;
		width: 40px;
		height: 40px;
		cursor: pointer;
	}

	&__company {
		color: #000;
		font-size: 20px;
		font-family: Museo-Bold;
		height: 24px;
		margin-bottom: 3px;
	}

	&__cats {
		font-size: 12px;
		color: #9B9A9B;
		lin-height: 14px;
		font-family: Museo-Light;
		margin-bottom: 3px;
	}

	&__link {
		color: #498FE1;
		text-decoration: none;
		font-size: 12px;
		height: 14px;
		font-family: Museo-Light;

		&:hover {
			text-decoration: underline;
		}
	}

	&__percent {
		font-size: 14px;
		height: 17px;
		margin: 20px 0 0;
		display: flex;

		&-title {
			font-family: Museo-Light;
			flex-basis: 235px;
			white-space: nowrap;
			overflow: hidden;
			padding-right: 10px;
		}

		&-value {
			color: #DE1914;
			font-family: Museo-Bold;
		}
	}

	&__rate {
		font-size: 14px;
		height: 17px;
		display: flex;

		&-title {
			font-family: Museo-Light;
			flex-basis: 235px;
			white-space: nowrap;
			overflow: hidden;
			padding-right: 10px;
		}

		&-value {
			position: relative;
			overflow: hidden;
			font-size: 14px;
			font-family: Museo-Bold;
			color: #DE1914;
			
			/*&::before,
			&::after {
				content: '';
				position: absolute;
				width: 75px;
				height: 12px;
				background-repeat: repeat-x;
				background-position: 0 0;
			}

			&::before {
				background-image: url(/imgs/star-gray.png);
			}

			&::after {
				background-image: url(/imgs/star-red.png);
				background-color: #fff;
			}

			&-0::after {
				right: 75px;
			}

			&-1::after {
				right: 60px;
			}

			&-2::after {
				right: 45px;
			}

			&-3::after {
				right: 30px;
			}

			&-4::after {
				right: 15px;
			}

			&-5::after {
				right: 0;
			}*/
		}
	}

	&__note {
		color: #9B9A9B;
		font-size: 12px;
		font-family: Museo-Bold;
		margin-top: 15px;
	}
}

.company-mobile {
	&_expand {
		background-color: rgba(216, 216, 216, 0.15);
	}

	&__name {
		color: #000;
		font-family: Museo-Light;
		font-size: 13px;
		line-height: 1.92;
		padding: 12px 17px 12px 15px;
		border: none;
		background-color: transparent;
		width: 100%;
		text-align: left;
		outline: none;

		& > span {
			display: block;
			position: relative;
			padding-right: 25px;

			&:before {
				content: '';
				position: absolute;
				right: -15px;
				bottom: -12px;
				left: 0;
				height: 1px;
				background-color: #000;
				opacity: 0.15;
			}

			&:after {
				content: '';
				display: inline-block;
				width: 9px;
				height: 9px;
				position: absolute;
				right: 0;
				top: 5px;
				border-style: solid;
				border-color: #9b9b9b;
				border-width: 0 0 1px 1px;
				transform: rotate(-45deg);
			}
		}

		&_favorite {
			background: url(/imgs/star-gold.svg) no-repeat right 30px top 4px;
		}

		&_expand {
			font-family: Museo-Bold;
			padding-bottom: 0;
		}

		&_expand > span:before {
			display: none;
		}

		&_expand > span:after {
			transform: rotate(-225deg);
			margin-top: 8px;
		}
	}

	&__name_favorite + &__desc > &__market {
		display: none;
	}

	&__name_favorite + &__desc > &__rate {
		display: none;
	}

	&__name_favorite + &__desc > &__division {
		margin-bottom: 0;
	}

	&__desc {
		display: none;
		padding: 0 17px 22px;
		position: relative;
		
		&:after {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			left: 15px;
			height: 1px;
			background-color: #000;
			opacity: 0.15;
		}

		&_expand {
			display: block;
		}
	}

	&__division {
		font-size: 13px;
		line-height: 1.92;
		color: #9b9b9b;
		font-family: Museo-Light;
		margin-bottom: 10px;
	}

	&__link {
		font-size: 14px;
		line-height: 17px;
		font-family: Museo-Light;
		color: #4a90e2;
		margin-top: 15px;
	}

	&__market {
		margin-bottom: 1px;
		display: flex;
		justify-content: space-between;
		font-size: 13px;
		line-height: 1.92;

		&-title {
			color: #000;
			font-family: Museo-Light;
		}

		&-value {
			min-width: 75px;
			color: #de1a14;
			font-family: Museo-Bold;
			flex-shrink: 0;
			margin-left: 15px;
		}
	}

	&__rate {
		display: flex;
		justify-content: space-between;
		font-size: 13px;
		line-height: 1.92;

		&-title {
			color: #000;
			font-family: Museo-Light;
		}

		&-value {
			min-width: 75px;
			flex-shrink: 0;
			color: #de1a14;
			font-family: Museo-Bold;
		}
	}
}

.control {
	position: fixed;
	top: 90px;
	right: 0;
	bottom: 90px;
	z-index: 20;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 290px;
		flex-shrink: 0;
	}

	&__zoom {
		display: flex;
		flex-direction: column;
	}

	&__button {
		width: 40px;
		height: 40px;
		border-radius: 20px;
		border: none;
		box-shadow: 0 1px 3px 1px;
		cursor: pointer;
		padding: 0;
		position: relative;
		background-color: #fff;

		& > span {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			transition: opacity 0.3s 0s;
			opacity: 0.5;
		}

		&:hover > span {
			opacity: 1;
		}

		&_plus {
			margin-bottom: 10px;

			& > span {
				&:before,
				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					margin: auto;
					width: 14px;
					height: 2px;
					background-color: #000;
				}

				&:after {
					transform: rotate(90deg);
				}
			}
		}

		&_minus {
			margin-bottom: 40px;

			& > span {
				&:before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					margin: auto;
					width: 14px;
					height: 2px;
					background-color: #000;
				}
			}
		}

		&_legend {
			margin-bottom: 40px;
			& > span {
				width: 18px;
				height: 18px;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-image: url(/imgs/icon-legend.png);
				background-size: 18px auto;
				border-radius: 50%;
			}
		}

		&_mode {
			position: absolute;
			transition: top 0.3s 0s;

			& > span {
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-size: 100% auto;
			}

			&-map {
				top: 0;
				& > span {
					background-image: url(/imgs/icon-map.png);
				}
			}

			&-list {
				top: 40px;

				& > span {
					background-image: url(/imgs/icon-list.png);
				}
			}
		}

		&_map {
			background: url(/imgs/icon-map.png) no-repeat 50% 50%;
		}

		&_list {
			background: url(/imgs/icon-list.png) no-repeat 50% 50%;
		}
	}

	&__switch {
		width: 40px;
		height: 80px;
		border-radius: 20px;
		background-repeat: no-repeat, no-repeat;
		background-position: 0 0, 0 100%;
		background-image: url(/imgs/icon-map.png), url(/imgs/icon-list.png);
		background-size: 100% auto, 100% auto;
		background-color: rgba(255, 255, 255, 0.5);
		position: relative;
	}

	@media (max-height: 720px) {
		bottom: 160px;
	}
}

.legend {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -500px;
	background-color: #5a8c51;
	color: #fff;
	transform: translateZ(0);
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 22;
	transition: left 0.5s 0s;

	&_show {
		left: 0;
	}

	&__inner {
		position: relative;
		padding: 32px 30px 0;
		width: 452px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	&__body {
		padding-bottom: 32px;
		flex-shrink: 0;
	}

	&__close {
		position: absolute;
		width: 24px;
		height: 24px;
		background: url(/imgs/close.svg) no-repeat 50% 50%;
		padding: 0;
		border: none;
		cursor: pointer;
		top: 20px;
		right: 40px;
	}

	&__logo {
		width: 150px;
		height: 36px;
		background: url(/imgs/logo-legend.svg) no-repeat 50% 50%;
		margin-bottom: 15px;
	}

	&__header {
		font-family: Museo-Black;
		font-size: 54px;
		line-height: 65px;
		margin-bottom: 15px;

		& > span {
			font-family: Museo-Medium;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 17px;
		font-family: Museo-Medium;
		margin-bottom: 55px;
		max-width: 340px;
	}

	&__sign {
		display: flex;

		&-icon {
			width: 172px;
			height: 86px;
			background-repeat: no-repeat;
			background-position: 100% 50%;
			margin-right: 53px;
			flex-shrink: 0;

			&_division {
				background-image: url(/imgs/division.png);
				background-size: 172px auto;
			}

			&_category {
				background-image: url(/imgs/category.png);
				background-size: 162px auto;
			}

			&_title {
				background-image: url(/imgs/title.png);
				background-size: 140px auto;
			}

			&_partners {
				background-image: url(/imgs/partners-title.png), url(/imgs/partners-car.png);
				background-size: 102px auto, 81px auto;
				background-position: 30px 50%, 90px 100%;
			}
		}

		&-text {
			font-size: 14px;
			font-family: Museo-Medium;
			display: flex;
			align-items: center;
		}
	}

	&__icons {
		display: flex;
		border-top: 1px dashed #fff;
		padding-top: 30px;
		padding: 30px 19px 35px;
		display: none;

		&-header {
			font-family: Museo-Medium;
			font-size: 14px;
			line-height: 17px;
			padding-bottom: 20px;
		}

		&-col {
			padding-left: 10px;
			width: 50%;
			
			&:first-child {
				margin-right: 50px;
			}
		}
	}

	&__icon {
		height: 45px;
		background-position: 0 50%;
		background-repeat: no-repeat;

		&_p1 {
			background-image: url(/imgs/partner-1.png);
			background-size: 90px auto;
		}

		&_p2 {
			background-image: url(/imgs/partner-2.png);
			background-size: 74px auto;
		}

		&_p3 {
			background-image: url(/imgs/partner-3.png);
			background-size: 94px auto;
		}

		&_p4 {
			background-image: url(/imgs/partner-4.png);
			background-size: 74px auto;
		}

		&_p5 {
			background-image: url(/imgs/partner-5.png);
			background-size: 81px auto;
		}

		&_p6 {
			background-image: url(/imgs/partner-6.png);
			background-size: 69px auto;
		}

		&_p7 {
			background-image: url(/imgs/partner-7.png);
			background-size: 71px auto;
		}

		&_p8 {
			background-image: url(/imgs/partner-8.png);
			background-size: 71px auto;
		}

		&_l1 {
			background-image: url(/imgs/leader-1.png);
			background-size: 73px auto;
		}

		&_l2 {
			background-image: url(/imgs/leader-2.png);
			background-size: 74px auto;
		}

		&_l3 {
			background-image: url(/imgs/leader-3.png);
			background-size: 62px auto;
		}

		&_l4 {
			background-image: url(/imgs/leader-4.png);
			background-size: 60px auto;
		}

		&_l5 {
			background-image: url(/imgs/leader-5.png);
			background-size: 60px auto;
		}

		&_l6 {
			background-image: url(/imgs/leader-6.png);
			background-size: 58px auto;
		}

		&_l7 {
			background-image: url(/imgs/leader-7.png);
			background-size: 52px auto;
		}

		&_l8 {
			background-image: url(/imgs/leader-8.png);	
			background-size: 42px auto;
		}
	}

	&__footer {
		margin: 0 -30px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.1);
		padding: 18px 0;
		font-size: 14px;
		font-family: Museo-Medium;
	}

	&__dev {
		display: block;
		width: 135px;
		height: 35px;
		text-decoration: none;
		background: url(/imgs/logo-dev.svg) no-repeat 50% 50%;
		margin-left: 13px;
	}
}

.logo {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	z-index: 21;
	transition: bottom 0.3s 0s;
	overflow: hidden;

	&_static {
		position: relative;
		border-bottom: 2px solid #000;
	}

	&_hide {
		bottom: -300px;
	}

	&_hide-static {
		display: none;
	}

	&__close {
		position: absolute;
		background-image:  url(/imgs/close.svg);
		background-repeat: no-repeat;
		background-position: 50% 50%;
		width: 24px;
		height: 24px;
		border: none;
		padding: 0;
		background-color: transparent;
		top: 20px;
		right: 20px;
		cursor: pointer;
		z-index: 22;
	}

	&__button {
		border: none;
		padding: 0;
		background-color: transparent;
		position: absolute;
		top: 0;
		bottom: 0;
		width: 3%;
		min-width: 30px;
		max-width: 42px;
		cursor: pointer;
		z-index: 21;

		&_prev {
			left: 0;

			& > span {
				transform: rotate(-135deg);
			}
		}

		&_next {
			right: 0;

			& > span {
				transform: rotate(45deg);
			}
		}

		& > span {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 15px;
			height: 15px;
			border-style: solid;
			border-color: #000;
			border-width: 2px 2px 0 0;
			margin: auto;
		}
	}

	&__items {
		padding: 0 15px;

		& > .slick-list {
			overflow: hidden;

			& > .slick-track {
				display: flex;
			}
		}
	}

	&__item {
		width: 15%;
		&-image {
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: 100% auto;
			padding: 15%;

			& > a {
				border-radius: 50%;
				display: block;
			}

			& > .border {
				border: 1px solid #C5C5C5;
			}

			& img {
				max-width: 100%;
				height: auto;
				vertical-align: top;
			}
		}
	}
}